dataDownload:
  enabled: true
  image:
    repository: reference-data-extractor
    pullPolicy: Always
    tag: 0.1.0
    pullSecrets: [ ]

nameOverride: "reference-data"
fullnameOverride: "reference-data"

nodeSelector: { }

serviceAccount:
  annotations: { }

config:
  pdxApiKey: ~
  pdxSecret: ~
  mountBasePath: "/mnt/data/geoaddressing-data"
  countries: ~
  dataConfigMap: ~
  failFastEnabled: "false"
  timestampFolder: