apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: {{include "geo-addressing-spark-application.name" .}}
  labels:
    {{- include "geo-addressing-spark-helm.labels" . | nindent 4 }}
spec:
  type: Scala
  mode: cluster
  image: {{ required "A docker image is required for running the geo-addressing spark!" .Values.image.repository }}:{{ .Values.image.tag }}
  imagePullPolicy: {{ .Values.image.pullPolicy }}
  mainClass: com.precisely.bigdata.geospatial.SparkApplication
  mainApplicationFile: "local:///opt/bitnami/spark/jars/geo-spatial-spark-on-k8s-1.0.0.jar"
  sparkVersion: {{ .Values.spark.version }}
  {{- with .Values.spark.conf }}
  sparkConf:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  restartPolicy:
    type: Never
  dynamicAllocation:
    enabled: {{ .Values.spark.dynamic_allocation }}
    initialExecutors: {{ .Values.spark.initial_executors }}
    minExecutors: {{ .Values.spark.min_executors }}
    maxExecutors: {{ .Values.spark.max_executors }}
  volumes:
    - name: {{include "geo-addressing-spark-nfs-pv.name" .}}
      persistentVolumeClaim:
        claimName: {{include "geo-addressing-spark-nfs-pvc.name" .}}
    - name: preferences-volume
      configMap:
        name: {{ include "geo-addressing-spark-preferences-configmap.name" . }}
  driver:
    cores: {{ .Values.spark.driver.cores }}
    memory: {{ .Values.spark.driver.memory }}
    labels:
      {{- include "geo-addressing-spark-helm.labels" . | nindent 8 }}
    {{- with .Values.global.spark.nodeSelector.driver }}
    nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    serviceAccount: {{ .Values.serviceAccount.name }}
    volumeMounts:
      - name: {{include "geo-addressing-spark-nfs-pv.name" .}}
        mountPath: {{ .Values.global.nfs.volumeMountPath }}
      - name: preferences-volume
        mountPath: "/mnt/data/preferences"
    env:
      - name: "SPARK_APP_NAME"
        value: "{{ .Values.spark.app_name }}"
      - name: "SPARK_LOG_LEVEL"
        value: "{{ .Values.spark.log_level }}"
      - name: "DATA_REFERENCES"
        valueFrom:
          configMapKeyRef:
            name: {{ include "geo-addressing-spark-data-config.name" . }}
            key: {{ printf "%s.%s" .Values.global.nfs.addressingBasePath "vintage" }}
      - name: PREFERENCES_FILE_PATH
        value: "/mnt/data/preferences/preferences.yaml"
      {{- if and (.Values.secrets.ACCESS_KEY) (.Values.secrets.SECRET_KEY) }}
      - name: "ACCESS_KEY"
        valueFrom:
          secretKeyRef:
            key: "aws_access_key"
            name: {{ include "geo-addressing-spark-secret.name" . }}
      - name: "SECRET_KEY"
        valueFrom:
          secretKeyRef:
            key: "aws_secret_key"
            name: {{ include "geo-addressing-spark-secret.name" . }}
      {{- end }}
      {{- range $name, $value := .Values.env }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
      {{- range $name, $value := .Values.env.kafka }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
      {{- range $name, $value := .Values.env.file }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
  executor:
    cores: {{ .Values.spark.executor.cores }}
    memory: {{ .Values.spark.executor.memory }}
    {{- with .Values.global.spark.nodeSelector.executor }}
    nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    labels:
      {{- include "geo-addressing-spark-helm.labels" . | nindent 8 }}
    volumeMounts:
      - name: {{include "geo-addressing-spark-nfs-pv.name" .}}
        mountPath: {{ .Values.global.nfs.volumeMountPath }}
      - name: preferences-volume
        mountPath: "/mnt/data/preferences"
    env:
      - name: "DATA_REFERENCES"
        valueFrom:
          configMapKeyRef:
            name: {{ include "geo-addressing-spark-data-config.name" . }}
            key: {{ printf "%s.%s" .Values.global.nfs.addressingBasePath "vintage" }}
      {{- if and (.Values.secrets.ACCESS_KEY) (.Values.secrets.SECRET_KEY) }}
      - name: "ACCESS_KEY"
        valueFrom:
          secretKeyRef:
            key: "aws_access_key"
            name: {{include "geo-addressing-spark-secret.name" .}}
      - name: "SECRET_KEY"
        valueFrom:
          secretKeyRef:
            key: "aws_secret_key"
            name: {{include "geo-addressing-spark-secret.name" .}}
      {{- end }}
      {{- range $name, $value := .Values.env }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
      {{- range $name, $value := .Values.env.kafka }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
      {{- range $name, $value := .Values.env.file }}
      - name: "{{ $name }}"
        value: "{{ $value }}"
      {{- end }}
